</br></br>
<h1 class="title">Publicações</h1>
</br>
 
<% @posts.each do |post| %>
  <div class="columns">
    <div class="column is-four-fifths">
      <div class="card">
        <div class="card-image">
          <figure class="image is-full is-marginless is-3by1">
            <%= image_tag post.featured_image %>
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <a href="<%= post_path(id: post.id) %>"><p class="title is-4"><%= post.author %></p></a>
            </div>
          </div>
          <p>Autor: <%= post.author %> - <%= post.created_at.strftime("%d/%m/%Y") %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>